* {
    padding: 0;
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
}

.background-example {
    width: 100%;
    height: 50vh;
    padding: 36px;
    border: 10px solid #000;
    background-image: url(/app/images/iskandar.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: border-box; /* Analogo a background-clip */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
}

.transform-example{
    border: 2px solid #000;
    width: 400px;
    height: 100px;
    color: #C00;
    background-color: gray;
    overflow: hidden;
    margin: 36px;
}

#transform1{
    transform: rotate(45deg);
}

#transform2{
    transform: scale(0.5, 2.5);
}

#transform3{
    transform: skew(20deg, 10deg);
}

#transform4{
    translate: translate(20px, 150px);
}

#transform5{
    transform: rotateX(45deg) rotateY(45deg) rotateZ(45deg);
}

.transition-container{
    width: 100vw;
    height: 600px;
    background-color: gray;
}

.transition-example{
    width: 60px;
    height: 60px;
    background-color: #6CC;
    margin-top: 16px;
    margin-bottom: 16px;
    transition: all 2s;
}

#transition1:hover{
    width: 100px;
    height: 100px;
    transition-property: width, height;
    transition-duration: 2s;
    transition-delay: 5s;
}

#transition2:hover{
    width: 100px;
    height: 100px;
    transition: width 2s, height 2s;
}

#transition3:hover{
    transform: rotate(180deg) scale(2);
}

#transition3:active{
    transform: rotate(-180deg) scale(0.5);
}

.transition-example-racing{
    width: 120px;
    height: 120px;
    background-color: blue;
    margin-top: 16px;
    margin-bottom: 16px;
    transition: all 4s;
}

#racing1:active{
    transform: translateX(600px);
    transition-timing-function: linear;
}

#racing2:active{
    transform: translateX(600px);
    transition-timing-function: ease;
}

#racing3:active{
    transform: translateX(600px);
    transition-timing-function: ease-in;
}

#racing4:active{
    transform: translateX(600px);
    transition-timing-function: ease-out;
}

#racing5:active{
    transform: translateX(600px);
    transition-timing-function: ease-in-out;
}

#racing6:active{
    transform: translateX(600px);
    transition-timing-function: cubic-bezier(0,2.06,1,-1.06);
}